apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: java-quarkus
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: java-quarkus
    app.kubernetes.io/part-of: check
  name: java-quarkus
  namespace: dsantra12
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: java-quarkus
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: java-quarkus
    spec:
      containers:
      - env:
        - name: DEBUG_PORT
          value: "5858"
        image: quay.io/redhat-appstudio/user-workload:dsantra12-java-quarkus
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8080
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8080
        resources:
          requests:
            cpu: "0"
            memory: 512Mi
status: {}
